<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="true"
	useFullscreenExpand="false"
	useThumbDots="false"
	galleryHeight="90%"
	indexPageName="graphicgallery.html"

>
  <image imageURL="images/AppData1 – G-01.jpg"
	thumbURL="thumbs/AppData1 – G-01.jpg"
	linkURL="images/AppData1 – G-01.jpg"
	linkTarget="_blank"
	sourcePath="/Users/taylorblatchford/Desktop/Maneater Alumni/Old Maneater/Graphics/AppData1 – G-01.jpg">
    <title><![CDATA[AppData1 – G-01]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AppData2 - G-01.jpg"
	thumbURL="thumbs/AppData2 - G-01.jpg"
	linkURL="images/AppData2 - G-01.jpg"
	linkTarget="_blank"
	sourcePath="/Users/taylorblatchford/Desktop/Maneater Alumni/Old Maneater/Graphics/AppData2 - G-01.jpg">
    <title><![CDATA[AppData2 - G-01]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/GenderPayGap024.jpg"
	thumbURL="thumbs/GenderPayGap024.jpg"
	linkURL="images/GenderPayGap024.jpg"
	linkTarget="_blank"
	sourcePath="/Users/taylorblatchford/Desktop/Maneater Alumni/Old Maneater/Uploaded/GenderPayGap024.jpg">
    <title><![CDATA[GenderPayGap024]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/LaundryFee - G-01.jpg"
	thumbURL="thumbs/LaundryFee - G-01.jpg"
	linkURL="images/LaundryFee - G-01.jpg"
	linkTarget="_blank"
	sourcePath="/Users/taylorblatchford/Desktop/Maneater Alumni/Old Maneater/Graphics/LaundryFee - G-01.jpg">
    <title><![CDATA[LaundryFee - G-01]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Stripes022-web.jpg"
	thumbURL="thumbs/Stripes022-web.jpg"
	linkURL="images/Stripes022-web.jpg"
	linkTarget="_blank"
	sourcePath="/Users/taylorblatchford/Desktop/Maneater Alumni/Old Maneater/Uploaded/Stripes022-web.jpg">
    <title><![CDATA[Stripes022-web]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/wbbEye (2).jpg"
	thumbURL="thumbs/wbbEye (2).jpg"
	linkURL="images/wbbEye (2).jpg"
	linkTarget="_blank"
	sourcePath="/Users/taylorblatchford/Desktop/Maneater Alumni/Old Maneater/Uploaded/wbbEye (2).jpg">
    <title><![CDATA[wbbEye (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/MOVEfarmrecipe.jpg"
	thumbURL="thumbs/MOVEfarmrecipe.jpg"
	linkURL="images/MOVEfarmrecipe.jpg"
	linkTarget="_blank"
	sourcePath="/Users/taylorblatchford/Desktop/Maneater Alumni/Old Maneater/Uploaded/MOVEfarmrecipe.jpg">
    <title><![CDATA[MOVEfarmrecipe]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/wLeaders.jpg"
	thumbURL="thumbs/wLeaders.jpg"
	linkURL="images/wLeaders.jpg"
	linkTarget="_blank"
	sourcePath="/Users/taylorblatchford/Desktop/Maneater Alumni/Old Maneater/Uploaded/wLeaders.jpg">
    <title><![CDATA[wLeaders]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/MOVEbikesbrews.jpg"
	thumbURL="thumbs/MOVEbikesbrews.jpg"
	linkURL="images/MOVEbikesbrews.jpg"
	linkTarget="_blank"
	sourcePath="/Users/taylorblatchford/Desktop/Maneater Alumni/Old Maneater/Uploaded/MOVEbikesbrews.jpg">
    <title><![CDATA[MOVEbikesbrews]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/NewMinor - G-01.jpg"
	thumbURL="thumbs/NewMinor - G-01.jpg"
	linkURL="images/NewMinor - G-01.jpg"
	linkTarget="_blank"
	sourcePath="/Users/taylorblatchford/Desktop/Maneater Alumni/Old Maneater/Graphics/NewMinor - G-01.jpg">
    <title><![CDATA[NewMinor - G-01]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>